{% extends 'layout.html' %}
{% block content %}
    <h1 class="mt-5">About Us</h1>
    <p class="lead">
        Charity Connect was founded on October 20th, 2020 in response to a school 
        project at Portland State University. What started as a learning project 
        for web application developement has evolved into a global network of
        made-up charities!
    </p>
{% endblock content %}