<!-- Footer -->
<footer class="bg-dark fixed-bottom page-footer font-small text-white pt-4" style="margin-top: 0px;">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
        <div class="col">
                <a class="ml-2" href="{{ url_for('charities.list') }}">View a list of our Charities</a>
        </div>
        <div class="col">
                <a class="ml-2" href="{{ url_for('charities.register') }}">Register a Charity with our Network</a>
        </div>
        <div class="col border-left">
            <small class="text-muted">
              <p>
                <i class="fas fa-home mr-3"></i> Portland, OR 97030, US</p>
              <p>
                  <i class="fas fa-envelope mr-3"></i>info@CharityConnect.com
              </p>
              <p>
                  <i class="fas fa-phone mr-3"></i>+1-971-123-1234
              </p>
            </small>
        </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->