{% extends 'layout.html' %}
{% block content %}
    <h1 class="mt-5">Welcome</h1>
    <p class="lead">
        Here at Charity Connect we help connect the 'Haves' with the 'Have nots'. 
        Our charity network uses proprietary philanthropic 'feel good' technology 
        to make the rich feel morally superior when they donate their disposable 
        income with one of our charities! All monetary donations go through a 
        rigorous and completely opaque review process that ensures the donation
        maximizes good feelings and our profits. 
    </p>

{% endblock content %}