{% extends 'layout.html' %}
{% block content %}
<!-- Card deck -->
<div class="card-deck">

    {% for charity in charities %}
        <!-- Card -->
        <div class="card mb-4 border" style="border-width: medium !important;">
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{ charity.name }}</h4>
                <div class="container border-top">
                    <div class="row">
                        <div class="col-md-8" style="padding-top: 15px;">
                            <p class="card-text">{{ charity.description }}</p>
                            <p class="card-text">
                                <b>Service:    </b><i>{{ charity.service }}</i>
                            </p>
                        </div>
                        <div class="col-md-4 border-left" style="padding-top: 15px;">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p>
                                <i class="fas fa-envelope mr-3"></i>{{ charity.email }}
                            </p>
                            <p>
                                <i class="fas fa-phone mr-3"></i>{{ charity.phone }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    {% endfor %}

</div>
<!-- Card deck -->

<div class="col">
    <small class="text-muted">
        <a class="ml-2" href="{{ url_for('charities.register') }}">Register a Charity with our Network</a>
    </small>
</div>

{% endblock content %}