<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand mr-4 h1" href="{{ url_for('home.index') }}">Charity Connect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Left Side-->
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('home.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home.about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('charities.list') }}">Charities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('charities.register') }}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>