{% extends 'layout.html' %}
{% block content %}
    <html>
        <body>
            {% if user and current_user.is_authenticated %}
            <form action="upload_photo" method="POST" enctype="multipart/form-data">
                Upload File: <input type="file" name="file"><br>
                <input type="submit" name="submit" value="Submit">
            </form>
            <i>Note: Upload and image analysis can sometimes take upwards of 10 seconds! Don't click submit multiple times!</i>
            <br>
            <i>In the future we will offload the analysis computation into a Cloud function</i>
            <br>
            <br>
            {% if images %}
                <strong>{{ user.email }}: Uploaded Images and Analysis</strong>
            {% else %}
                <strong>Upload an Image and you'll see it here!</strong>
            {% endif %}
            <br>

            {% for image in images %}
            <!-- Card -->
            <div class="card mb-4 border" style="border-width: medium !important;">
                <!--Card content-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ image['uri'] }}" width=300 height=300 class="rounded mb-0">
                        </div>
                        <div class="col-md-8 list-group" style="max-height: 300px; overflow: scroll;">
                            {% for ident in image['label_ids'] %}
                            <a href="{{ labels[ident].url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-2 h5">{{ labels[ident].title }}</h5>
                                </div>
                                <p class="mb-2">
                                    {{ labels[ident].article }}
                                </p>
                                <small>{{ labels[ident].url }}</small>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer w-100 text-muted">
                        Image uploaded at: {{ image['timestamp'] }}
                    </div>
                </div>
            </div>
            <!-- Card -->
            {% endfor %}

            {% else %}
            <h1 class="mt-5">Image Graph</h1>
            <p class="lead">
                The Image Graph web application leverages Google Cloud technologies to perform
                image label annotation and analysis with the Vision and Knowledge Graph APIs. 
            </p>
            <h5 class="mt-5">How it Works?</h5>
            <p class="lead">
                First, log in with your Google account, then choose an image to upload to the cloud for vision analysis. 
                After the image is annotated with labels the application conducts a knowledge graph search for each label 
                and displays the results. 
                <br>
                <i>
                Note: All uploaded images are publicly accessible! So don't upload anything you don't want on the internet. 
                </i>
            </p>
            <h5 class="mt-5">About</h5>
            <p class="lead">
                This application is part of my final project for CS430P - Internet Web & Cloud Systems
                at Portland State University. Image Graph is powered by Google Cloud and 
                built with Flask. Source code can be found <a href="">here!</a>
            </p>

            <br>

            <p class="lead">
                Please <a href="{{ url_for('google_auth.login') }}">Log in</a> with your Google Account to use the Image Graph application.
            </p>
            {% endif %}

        </body>
    </html> 

{% endblock content %}