<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand mr-4 h1" href="{{ url_for('index') }}">ImageGraph</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Left Side-->
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        {% if user and current_user.is_authenticated %}
                            <a class="nav-link active" href="{{ url_for('google_auth.logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-link active" href="{{ url_for('google_auth.login') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>