
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Charity Connect</title>
        {% endif %}

        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />

        <!-- Google Fonts Roboto -->
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
        />

        <!-- MDB -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />

        <!-- Custom styles -->
        <style></style>

    </head>
    <body>
        <header class="site-header">
            {% include 'navbar.html' %}
        </header>

        <!-- Begin page content -->
        <main role="main" class="container" style="padding-top: 70px; min-height: 400px; margin-bottom: 100px;">
            <div class="row">
                <div class="col-md-10">
                    {% with messages = get_flashed_messages(with_categories=true)  %}
                        {% if  messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </main>

        {% include 'footer.html' %}
    </body>

  <!-- MDB -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>

</html>
